:root {
    color: #04364A, #176B87, #64CCC5, #DAFFFB;
    /*color2*/
    color: #00A9FF, #89CFF3, #A0E9FF, #CDF5FD;
}

html{
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    min-height: 2000px;

}

/*navbar-header*/
.navbar {
    display: flex;
    font-family: 'poppins', sans-serif;
    padding: 1.4rem 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999;
    background: var(--ung, linear-gradient(90deg, #46ABE4 0%, #DC62DF 100%));
    top: 0;
    left: 0;
    bottom: 90%;
    right: 0;
   
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    right: 89px;
    top: 35px;
}

.navbar .logo{
    font-size: 2rem;
    font-weight: 700;
    border: #b9e0de;
    color: #DAFFFB;
}

.navbar .logo span{
    color: #fff;
}

.navbar-nav a{
    font: 'poppins', sans-serif;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
    color: #ffffff;
}

.navbar .navbar-nav a:hover {
    color: #64CCC5;
    transition: 0.2s;
}

.navbar .navbar-nav a:after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #64CCC5;
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar-extra a{
    color: #ffffff;
    font-size: 1.4rem;
}

/*Sidebar*/
.navbar .sidebar{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    height: 100vh;
    transition: 0.3s;
}

/* Headline*/
.content1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/assets/bg/study.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.content1::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/bg/study.jpg);
    background: linear-gradient(to right, rgba(255,255,255,1) 30%, transparent);
}

.content1 .headline {
    margin-right: 20rem;
    margin-bottom: 10rem;
    padding-top: 2rem;
    padding-bottom: 30rem;
    padding-right: 40rem;
    padding-left: 5rem;
    color: #000;
    z-index: 999999999;
}

.headline .isi-headline {
    text-align: justify;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    gap: 5px;
}

.isi-headline p {
    color: #272727;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.isi-headline h1{
    color: #46ABE4;
    text-align: justify;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Sekilas Info*/
.content2 {
    padding: 20rem 7%;
    width: 1296px;
    height: 492px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.content2 .ruler {
    width: 160%;
    height: 0px;
    padding: 2rem 0;
    border-top: #DC62DF 2px solid;
}
.content2 h1 {
    color: #46ABE4;
    text-align: justify;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sekilas_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 7%;
}

.box {
    background: #CDF5FD;
    width: 296px;
    height: 430px;
    margin: 30px;
    border-radius: 17px;
    background: #fff;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.img {
    background-color: #04364A;
    width: 297px;
    height: 215px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #fff;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
}

.box p{
    text-align: justify;
    width: 270px;
    height: 400px;
    padding: 0 5%;
    color: #858585;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box h2 {
    padding: 1rem 5%;
}

.bg-1 {
   background-image: url(/assets/bg/wisuda.jpg);
}

/*Tentang Kami*/
.content3 {
    display: block;
    padding: 30rem 7%;
}

.content3 .ruler {
    width: 100%;
    height: 0px;
    padding: 2rem 0;
    border-top: #DC62DF 2px solid;
}

h1 {
    color: #46ABE4;
    text-align: justify;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
}

.isi-tentangkami {
    padding: 2rem 0;
    margin-right: 15rem;
}

.isi-tentangkami p{
    color: #272727;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Footer*/
.footer {
    background: var(--ung, linear-gradient(90deg, #46ABE4 0%, #DC62DF 100%));
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}

.footer-content .logo-footer {
    font-size: 2rem;
    font-weight: 700;
    border: #b9e0de;
    color: #DAFFFB;
    cursor: pointer;
}

.logo-footer span{
    color: #fff;
}

.footer-content p{
    font-size: 15px;
    text-align: justify;
    max-width: 700px;
    color: #272727;
    opacity: 0.7;
    margin: 10px 0;
    cursor: pointer;
}

.footer-content p:hover {
    opacity: 1;
}


.footer-content .socials {
    margin-top: 10px;
}

.footer-content .socials a{
   text-decoration: none;
   color: #fff;
   margin: 10px;
   padding: 0px 5px;
}

.socials a:hover {
    color: #64CCC5;
}

.footer-bottom {
    background-color: #cfcfcf;
}

.footer-bottom p {
    color: #1a1a1a;
    text-align: center;
    padding: 10px 0;
}